/*------------------!--------------------FOOTER SECTION STYLES------------------------!--------------*/
footer {
    padding: 100px 0;
    @include gradient-x;
    text-align: center;
    position: relative;

    .socials {
        margin-bottom: 36px;
        i {
            color: $white;
            background: #ffffff17;
            border-radius: 50%;
            width: 40px;
            padding: 12px 0;
        }
    }
    .copyright {
        color: $white;
        font-family: $font-2;
    }

    .back__to__top--footer {
        border-radius: 4px;
        background: $white;
        color: $main-color;
        height: 65px;
        width: 55px;
        box-shadow: 0 0 20px rgb(0 0 0 / 18%);
        font-size: 20px;
        line-height: 70px;
        position: absolute;
        top: -33px;
        left: 50%;
        transform: translateX(-50%);
        cursor: pointer;
        transition: all 0.4s ease;

        &:hover {
            background-color: $main-color;
            color: $white;
        }
    }
}

@include xl {
    footer {
    }
}

@include lg {
    footer {
    }
}

@include md {
    footer {
        padding: 70px 0;
    }
}

@include sm {
    footer {
    }
}

@include xs {
    footer {
        padding: 50px 0;
    }
}

@include xxs {
    footer {
        padding: 35px 0;

        .socials {
            margin-bottom: 25px;
        }
    }
}

// .show {
//     opacity: 1;
//     transition: all 1s ease;
//     transform: translateX(0%);
// }
