/*------------------!--------------------HEADER STYLES------------------------!--------------*/
header {
    background: linear-gradient(90deg, #517ae4, #342ad1);
    padding: 30px 0;
    transition: all 0.6s ease;
}

.nav-item {
    margin-left: 50px;

    a {
        color: $white;
        border-bottom: 3px solid transparent;
        padding-bottom: 8px;
        &:hover {
            border-bottom: 3px solid $color-3;
        }
    }
}

.sticky {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 111;
    box-shadow: 0 3px 20px rgb(0, 0, 0, 0.2);
    transition: all 0.6s ease;
    padding: 30px 0;
}

@include xl {
    header {
    }
}

@include lg {
    header {
    }
}

@include md {
    header {
        padding: 20px 0;

        .btn:hover {
            background: $white;
        }

        button:focus:not(:focus-visible) {
            background-color: $white;
        }

        .btn-custom {
            padding: 0px 20px;
            border: 0;
            line-height: 58px;
            background: $white;

            &::before {
                display: none;
            }

            i {
                color: $main-color;
                font-size: 25px;
            }
        }

        .offcanvas.offcanvas-start {
            background-color: $color-2;
            width: 45%;
        }
    }

    .nav-item {
        margin-left: 0;
        margin-bottom: 20px;
        text-align: left;
    }
}

@include sm {
    header {
        .offcanvas.offcanvas-start {
            width: 55%;
        }
    }
}

@include xs {
    header {
        background-size: unset;
        background-position-x: right;
        .offcanvas.offcanvas-start {
            width: 65%;
        }
    }

    .sticky {
        padding: 20px 0;
    }
}

@include xxs {
    header {
        .offcanvas.offcanvas-start {
            width: 100%;
        }

        .btn-custom {
            height: 40px;
            padding: 0 15px;
            line-height: 45px;
            i {
                font-size: 20px;
            }
        }
    }
}
