/*------------------!--------------------GLOBAL STYLES------------------------!--------------*/

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: inherit;
}

a {
    transition: all 0.4s ease;
    text-decoration: none;
    font-family: $font-2;
}

a:hover {
    color: $white;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

button:focus,
button:hover {
    outline: none;
}

a:hover,
a:focus,
a:visited {
    outline: none;
}

.btn-custom {
    display: inline-block;
    color: $white;
    font-family: $font-2;
    font-weight: 600;
    font-size: 18px;
    line-height: 50px;
    height: 50px;
    padding: 0px 40px;
    border-radius: 10px;
    text-transform: capitalize;
    position: relative;
    @include gradient-x;
    z-index: 1;

    &:hover {
        &::before {
            opacity: 1;
        }
    }

    &::before {
        transition: all 0.4s ease;
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        @include gradient-x-reverse;
        border-radius: 10px;
        z-index: -1;
        opacity: 0;
    }
}

.section-heading {
    @include xl {
        width: 70%;
    }
}
.blue-txt {
    color: $main-color;
}

.section-heading h2 {
    text-transform: capitalize;
}

.section-heading p {
    font-family: $font-2;
}

.back__to__top {
    color: $white;
    background-color: $main-color;
    height: 65px;
    width: 55px;
    box-shadow: 0 0 20px rgb(0 0 0 / 18%);
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    bottom: 15px;
    right: 20px;
    border-radius: 4px;
    position: fixed;
    cursor: pointer;
    pointer-events: none;
    opacity: 0;
    transition: all 0.2s ease;
    z-index: 111;

    &:hover {
        background-color: $white;
        color: $main-color;
    }
}

.back__to__top.active {
    opacity: 1;
    pointer-events: auto;
}

.back__to__top.active__override {
    opacity: 0;
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999999;
}
